.ruleBlok {
    background-color: #dad8d8;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px 100px;
    font-size: large;
}

.ruleBlok > h1 {
    margin: 0px;
    font-size: 1.4em;
}