.headFriend {
    text-justify: auto;
    background-color: #E0DDDD;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 30px 120px 65px 120px;
    font-size: large;
    min-height: 500px;
}

.friendBlok {
    background-color: #C4C4C4;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px 100px;
    font-size: large;
}

.ref {
    width: 200px;
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.refName {
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 100px;
    font-weight: 600;
}

.refInput {
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    border: 2px solid #774D82;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.refchBut {
    text-align: center;
    right: 0px;
    width: 90px;
    height: 30px;
    border: none;
    margin-right: 100px;
    background: #774D82;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }