.contr {
    display: flex;
    justify-content: space-between;
}

div.plan, div.exactPlan {
    padding: 0px 30px;
    text-align: center;
    font-size: larger;
    background: linear-gradient(180deg, #B0A0C5 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.907115) 100%);
    height: 100%;
}

div.plan > h1, div.plan > p, div.exactPlan > h1, div.exactPlan > p {
    color: #281867;
}

div.exactPlan {
    padding: 0px 30px;
}

.supTask {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
}

.supTask1 {
    height: 60px;
}

.supTask2 {
    height: 60px;
    overflow: hidden;
}

.supTask img {
    border-radius: 8px;
    height: 60px;
}

.supTask2 {
    background-color: #dfdfdf;
    border-radius: 8px;
    padding: 5px 10px;
}

p.supTaskName {
    margin: 3px 0px 0px 0px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.2em;
}

p.supTaskSMS {
    margin: 6px 0px 0px 0px;
    color: rgb(0, 0, 0);
}