.avatar {
    background-color: #82FFF0;
    border-radius: 5px;
    width: 240px;
    padding: 10px;
    cursor: default;
    box-shadow: 10px 10px 20px 1px #67b8ae;
}

ul.avafooter {
    background-color: #83E7DB;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 5px;
}

img.avatar {
    width: 100%;
    border-radius: 5px;
    padding: 0px;
}

li.level, li.status, li.history, li.warn {
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    list-style-type: none;
}

li.warn {
    color: rgb(255, 0, 0);
    font-weight: bold;
}